body { font-family: sans-serif; }
form { overflow: auto; }
input { font-size: 120%; float: left; display: block; }
input[type=search] { width: 90%; padding: 5px; border: 2px solid rgba(146, 178, 193, 1); height: 35px; }
input[type=submit] { width: 9%; height: 35px; background-color: rgba(146, 178, 193, 1); border: none; color: #fff; }
h1, h2 { font-weight: normal; }